@use "../abstract/variables" as *;

.dark {
  .loading {
    color: $white;
  }

  .navbar {
    background-color: $darkBlue;
    &__theme,
    &__title {
      color: $white;
    }
  }

  .content {
    background-color: $darkBlueBg;
  }

  .search {
    &__input {
      background-color: $darkBlue;
      box-shadow: 0px 10px 20px $shadow;

      &::placeholder {
        color: $white;
      }
    }

    &__icon {
      color: $white;
    }
  }

  .filter {
    &__select {
      color: $white;
      .current {
        background-color: $darkBlue;
        box-shadow: 2px 2px 20px $shadow;
      }

      .options {
        background-color: $darkBlue;
      }
    }
  }

  .country {
    background-color: $darkBlue;
    color: $white;

    box-shadow: 4px 0px 20px $shadow;
  }

  .details {
    color: $white;

    &__back {
      background-color: $darkBlue;
      box-shadow: 0px 0px 10px $shadow;
      color: $white;
    }

    &__content {
      .dContent__borders {
        .dcb__wrapper {
          .border {
            background-color: $darkBlue;
            box-shadow: 2px 0px 10px $shadow;
          }
        }
      }
    }
  }
}
