@use "../abstract/variables" as *;

.dark {
  .navbar {
    background-color: $darkBlue;
    &__theme-btn,
    &__title {
      color: $white;
    }
  }

  .loading {
    color: $white;
    background-color: $darkBlue;
  }

  .countries {
    background-color: $darkBlueBg;
  }

  .search-bar {
    &__input {
      background-color: $darkBlue;
      box-shadow: 0px 10px 20px $shadow;

      &::placeholder {
        color: $white;
      }
    }

    &__icon {
      color: $white;
    }
  }

  .filter {
    &__select {
      color: $white;
      &--current {
        background-color: $darkBlue;
        box-shadow: 2px 2px 20px $shadow;
      }
    }

    &__options {
      background-color: $darkBlue;
    }
  }

  .country {
    background-color: $darkBlue;
    color: $white;

    box-shadow: 4px 0px 20px $shadow;
  }

  .details {
    color: $white;
    background-color: $darkBlue;

    &__back-btn {
      background-color: $darkBlue;
      box-shadow: 0px 0px 10px $shadow;
      color: $white;
    }

    &__borders--item {
      background-color: $darkBlue;
      box-shadow: 2px 0px 10px $shadow;
    }
  }
}
