@use "../abstract/variables" as *;
@use "../utils/breakpoints" as *;

.country {
  width: 100%;
  margin: 20px 0;

  background-color: white;
  box-shadow: 4px 0px 20px rgba(128, 128, 128, 0.23);

  &__flag {
    width: 100%;

    @include breakpoint(tablet) {
      height: 175px;
    }
  }

  &__content {
    padding: 30px;
    margin-bottom: 20px;

    @include breakpoint(tablet) {
      padding: 20px;
    }

    .name {
      margin: 20px 0;

      font-weight: $boldFw;
      font-size: $mdFz;
    }

    .stats {
      display: grid;
      gap: 10px;

      .value {
        font-weight: $thinFw;
      }
    }
  }
}
