@use "../abstract/variables" as *;
@use "../utils/breakpoints" as *;

.countries {
  width: 90%;
  margin: 0 auto;
}

.desktop__search {
  width: 100%;

  @include breakpoint(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.desktop__countries {
  width: 100%;

  @include breakpoint(tablet) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
}
