@use "../abstract/variables" as *;
@use "../utils/breakpoints" as *;

.country {
  width: 100%;
  margin: 20px 0;

  background-color: white;
  box-shadow: 4px 0px 20px rgba(128, 128, 128, 0.23);
  border-radius: 5px;

  cursor: pointer;
}

.country__flag {
  width: 100%;

  object-fit: cover;
  border-radius: 5px;
}

.country__desc {
  padding: 24px;
  margin-bottom: 20px;

  &--name {
    margin: 20px 0;

    font-weight: $boldFw;
    font-size: $mdFz;
  }
}

.country__stats {
  display: grid;
  gap: 12px;

  &--value {
    font-weight: $thinFw;
  }
}

/* 

        BREAKPOINTS

*/

@include breakpoint(tablet) {
  .country__flag {
    height: 175px;
  }

  .country__desc {
    padding: 20px;
  }
}
