@use "../abstract/variables" as *;
@use "../utils/breakpoints" as *;

.countries {
  width: 90%;
  margin: 0 auto;
}

.countries__search {
  width: 100%;
}

.countries__list {
  width: 100%;
}

@include breakpoint(tablet) {
  .countries__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .countries__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
}
