@use "../abstract/variables" as *;
@use "../utils/breakpoints" as *;

.filter {
  width: 100%;
  margin: 30px 0;

  @include breakpoint(tablet) {
    width: 17%;
  }

  &__select {
    position: relative;
    width: 60%;

    @include breakpoint(tablet) {
      width: unset;
    }

    .current {
      padding: 20px;
      font-weight: $thinFw;

      background-color: white;
      box-shadow: 2px 2px 10px rgba(215, 215, 215, 0.586);
    }

    .arrow {
      position: absolute;
      top: 20px;
      right: 10px;

      font-size: 20px;
    }

    .options {
      position: absolute;
      top: -10;
      width: 100%;

      padding: 25px;
      margin-top: 10px;

      display: grid;
      gap: 10px;

      background-color: white;
      font-weight: $thinFw;

      .option {
        .label:hover {
          opacity: 0.4;
          cursor: pointer;
        }

        .radio {
          display: none;
        }
      }

      .selected {
        display: none;
      }
    }
  }
}
