@use "../abstract/variables" as *;
@use "../utils/breakpoints" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  padding: 40px 20px;

  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.185);

  @include breakpoint(tablet) {
    padding: 30px 75px;
  }

  &__title {
    font-weight: $semiFw;

    @include breakpoint(tablet) {
      font-size: $lgFz;
    }
  }

  &__theme {
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    gap: 8px;

    @include breakpoint(tablet) {
      font-size: $mdFz;
    }
  }
}
